DJANGO_DEBUG_MODE=True
DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DJANGO_DB_ENGINE=django.db.backends.mysql
DJANGO_DB_HOST=127.0.0.1
DJANGO_DB_USER=python
DJANGO_DB_PASSWORD=
DJANGO_DB_NAME=bookman_db
DJANGO_DB_PORT=3306
